.App {
  margin: 20px;
  text-align: center;
  border: 3px dashed black;
  border-radius: 10%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.profile {
  margin: 20px;
  border: 1px dashed blue;
  border-radius: 10%;
}

.tipjar {
  margin: 20px;
  border: 1px dashed green;
  border-radius: 10%;
}

.songlist {
  margin: 20px;
  border: 1px dashed orange;
  border-radius: 10%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
