<h1><%= @user.name %></h1>

<% if @user.pizzas.any? %>
  <h5>Pizzas:</h5>
  <ul>
    <% @user.pizzas.each do |pizza| %>
      <li><%= link_to pizza.name, pizza %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to "All Users", users_path %>

<%= link_to "Edit this User", edit_user_path(@user) %>
